.container{
    height: 100vh;
    width:100vw;
    display: grid;
    grid-template: 1fr 6fr / 1fr 6fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content"
    ;
}

/* sets up the sidebar
sidebar content is divided into two groups 
using flex containers */
.sidebar{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    grid-area: sidebar ;
    gap: 50px;
}

.sidebargroup1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebargroup2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.header{
    background-color: blueviolet;
    grid-area: header;
}

.main-content{
    background-color: red;
    grid-area: main-content;
}
