.container{
    height: 100vh;
    width:100vw;
    display: grid;
    grid-template: 1fr 6fr / 1fr 6fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content"
    ;
}

/* sets up the sidebar
sidebar content is divided into two groups 
using flex containers */
.sidebar{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    grid-area: sidebar ;
    gap: 50px;
}

.sidebargroup1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebargroup2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.header{
    display: grid;
    background-color: blueviolet;
    grid-area: header;
    grid-template-columns: repeat(6, 1fr);
    
}

.searchbar{

    grid-column: 1 / 4 ;
    
}

.namepicbig{
    grid-row: 2 / 3 ;
    grid-column: 1 / 3 ;
}

.searchbarinput{
    display: flex;
    margin-left: 50px;
    width: 75%;
    border-radius: 25px;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    grid-column: 5 / 7;
    grid-row: 2 / 3;
}

.namepicsmall{
    grid-column: 6 / 7;
    grid-row: 1 / 2;
}

.main-content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px repeat(5, 1fr);
    background-color: red;
    grid-area: main-content;
}

.yourProjects{
    margin: 10px;
    display: grid;
    grid-row: 2 / 7;
    grid-column: 1 / 5;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));    
    gap: 10px;
}   

.title1{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 2:
}

.title2{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 2;
    grid-column: 5 / 6;
}

.secondaryBoardArea {
    grid-column: 5 / 8;
    grid-row: 2 / 7;
}

.announcements {
    width: 25%;
    height: 25%;

}

.trending {
    width: 25%;
    height: 25%;    
}

.project1, .project2, .project3,
.project4, .project5, .project6{
    background-color: #444;
    text-align: center;
    color: #ddd;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 12px;
}
